
html {
    font-family: 'Roboto', sans-serif;;
    text-align: center;
}

#top {
    margin: auto;
    padding: 10px;
    border: 1px;
    border-style: solid;
    border-color: gray;
    width: 60%;
    min-width: 500px;
}

#top > input {
    width: 70%;
}

#top > #add-div {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.hover:hover {
    background-color: gray;
}

#flex-container {
    display: flex;
    flex-direction: column;
}

.flex-item {
    margin: auto;
    padding: 10px;
    border: 1px;
    border-style: solid;
    border-color: gray;
    width: 50%;
    min-width: 500px;
    text-align: left;
    position: relative;
    display: flex;
    flex-direction: row;
}

.flex-item * {
    padding: 5px;
}

.flex-item > img {
    border-radius: 20%;
}

.flex-item > .description {
}

span {
}

.flex-item > .del-button {
    position: absolute;
    right: 10px;
    top: 33%;
    bottom: 33%;
    
}

